<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>Cart</title>
    </head>
    <body>
        <header><%- include('../partials/header.ejs') %></header>
        <main class="users-cart">
            <h2><%= username %>'s Cart</h2>
            <div class="users-cart__flex-container">
                <ul>
                    <% for (sameItems of cart ) { %>
                    <li>
                        <a href="/products/<%= sameItems.item._id %>">
                            <img
                                src="<%= sameItems.item.img  %>"
                                alt="<%= sameItems.item.name  %>"
                        /></a>
                        <h4>
                            <%= sameItems.item.name %> (<%= sameItems.count %>)
                        </h4>
                    </li>
                    <% } %>
                </ul>
            </div>
        </main>
    </body>
</html>
