<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>Cart</title>
    </head>
    <body>
        <header><%- include('../partials/header.ejs') %></header>
        <main class="users-cart">
            <h2><%= username %>'s Cart</h2>
            <div class="users-cart__list">
                <ul>
                    <% for (sameItems of cart ) { %>
                    <li>
                        Item Name: <%= sameItems.item.name %>, Item ID: <%=
                        sameItems.item._id %>, Num: <%= sameItems.count %>
                    </li>
                    <% } %>
                </ul>
            </div>
        </main>
    </body>
</html>
