<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>All Orders</title>
    </head>
    <body>
        <header><%- include('../partials/header.ejs') %></header>
        <main class="users-orders">
            <h2>Review All Orders</h2>
            <div class="users-orders__flex-container">
                <% for( let c = 0; c < displayCarts.length; c++ ) { %>
                <div class="users-orders__customer-container">
                    <div class="users-orders__username">
                        <h3>Username: <%= displayCarts[c].username %></h3>
                    </div>
                    <div class="users-orders__cart-container">
                        <ul>
                            <% for (sameItems of displayCarts[c].cart ) { %>
                            <li>
                                <a href="/products/<%= sameItems.item._id %>">
                                    <img
                                        src="<%= sameItems.item.img  %>"
                                        alt="<%= sameItems.item.name  %>"
                                /></a>
                                <h4>
                                    <%= sameItems.item.name %> (<%=
                                    sameItems.count %>)
                                </h4>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </main>
    </body>
</html>
