<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>All Products</title>
    </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <header class="product__header">
            <%- include('../partials/header.ejs') %>
        </header>
        <main class="product-index">
            <h2>All Products</h2>
            <% if (admin) { %>
            <div id="add-new">
                <a href="/products/new"> Add New Product </a>
            </div>
            <% } %> <% if (products.length === 0) { %>
            <div class="product-index__closed-container"></div>
            <% } else { %>
            <div class="product-index__flex-container">
                <% for (product of products) { %>
                <div class="product-index__item-container">
                    <h4 class="product-index__item-name">
                        <%= product.name %>
                    </h4>
                    <a href="/products/<%= product._id %>">
                        <img
                            src="<%= product.img  %>"
                            alt="<%= product.name  %>"
                    /></a>
                    <h6>Price: $<span><%= product.price %> </span></h6>
                </div>
                <% } %>
            </div>
            <% } %>
        </main>
    </body>
</html>
